{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-container">
        <div class="hero-image">
            <!-- opaque overlay -->
            <div id="overlay">
                <div class="row">
                    <div class="col">
                        <h1>
                            Bringing the bar to you.
                        </h1> 
                        <div class="text-center">
                            <h4>
                                <a href="" class="shop-btn">Shop Now</a>
                            </h4>
                        </div>
                    </div>
                <div>
            </div>
            
        </div>
    </div>

    <div id="intro-container">

    </div>
{% endblock %}