/*-------------------------Blog Posts----------------------- */
.blog-btn {
    color: #403D39;
    font-weight: 400;
}

.blog-btn:hover {
    color: #151513;
    font-weight: 500;
}

.blog-card-panels {
    padding: 1rem;
}

.blogs-container {
    margin: 0 .5rem .5rem .5rem;
}

/*-------------------------Blog Details----------------------- */
.blog-post p,
.img-container,
.blog-details {
    padding: 0 .5rem;
}

.return-link .blog-btn {
    text-align: left;
    font-size: .9rem;
    padding: 0 0 1rem 1rem;
}

/*-------------------------Add Blog----------------------- */
.add-blog .form-group {
    padding: .25rem 0;
}

.add-blog .checkout-btn {
    float: right;
    font-size: .9rem;
}

.add-blog .blog-btn {
    float: right;
}

/*-------------------------Media Queries----------------------- */
@media only screen and (min-width: 358px) {
    .blogs-container {
        margin: 0 1rem 1rem 1rem;
    }
    .blog-card-panels {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
    .blog-post p,
    .img-container,
    .blog-details {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .blog-post p,
    .img-container {
        padding: 0 7rem;
    }
}