/*-------------------------Google Fonts----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-------------------------General----------------------- */
html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}


/*-------------------------Header----------------------- */
#logo {
    height: 5.5rem;
}

.nav-logo {
    padding-top: 0;
}

#topnav {
    background-color: #151513;
    color: #FFFCF2;
}

#topnav a,
#topnav i {
    color: #FFFCF2;
}

/*-------------------------Footer----------------------- */
.footer-section {
    text-align: center;
}

.footer-section a {
    text-decoration: none;
}
