/*-------------------------Google Fonts----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-------------------------General----------------------- */
html,
body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #151513;
}


/*-------------------------Header----------------------- */
#logo {
    height: 5.5rem;
}

.nav-logo {
    padding-top: 0;
}

#topnav,
.main-nav {
    background-color: #151513;
    color: #FFFCF2;
}

#topnav a,
#topnav i {
    color: #FFFCF2;
}

.main-nav a {
    text-decoration: none;
    color: #FFFCF2;
}
.navbar .navbar-toggler-icon {
    color: #FFFCF2;
}

.header-container {
    padding-top: 7.25rem;
}

/*-------------------------Footer----------------------- */
.footer-section {
    text-align: center;
    background-color: #151513;
    color: #FFFCF2;
}

.footer-section a {
    text-decoration: none;
    color: #FFFCF2;
}

/*-------------------------Home Page----------------------- */
.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/hero-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFCF2;
}

/*-------------------------Media Queries----------------------- */
