/*-------------------------Google Fonts----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-------------------------General----------------------- */
html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}


/*-------------------------Header----------------------- */
#logo {
    height: 5.5rem;
}

.nav-logo {
    padding-top: 0;
}

#topnav {
    background-color: #151513;
    color: #FFFCF2;
}

#topnav a,
#topnav i {
    color: #FFFCF2;
}

/*-------------------------Footer----------------------- */
.footer-section {
    text-align: center;
    background-color: #151513;
    color: #FFFCF2;
}

.footer-section a {
    text-decoration: none;
    color: #FFFCF2;
}

/*-------------------------Home Page----------------------- */
#overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay h1 {
    color: #FFFCF2;
    font-weight: 300;
}

.hero-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
    background: url("/media/hero-img.png") no-repeat center center fixed;
}

/*-------------------------Media Queries----------------------- */
