<div class="collapse navbar-collapse w-100" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a href="{% url 'home' %}" class="nav-link mr-3">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="allproducts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="allproducts-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
            </div>

        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="barware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Barware
            </a>
            <div class="dropdown-menu" aria-labelledby="barware-link">
                <a href="{% url 'products' %}?category=shakers" class="dropdown-item">Shakers</a>
                <a href="{% url 'products' %}?category=tools" class="dropdown-item">Tools</a>
                <a href="{% url 'products' %}?category=bar_sets" class="dropdown-item">Bar Sets</a>
                <a href="{% url 'products' %}?category=shakers,tools,bar_sets" class="dropdown-item">All Barware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="glassware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Glassware
            </a>
            <div class="dropdown-menu" aria-labelledby="glassware-link">
                <a href="{% url 'products' %}?category=cocktails" class="dropdown-item">Cocktails</a>
                <a href="{% url 'products' %}?category=novelty" class="dropdown-item">Novelty</a>
                <a href="{% url 'products' %}?category=serving" class="dropdown-item">Serving</a>
                <a href="{% url 'products' %}?category=cocktails,novelty,serving" class="dropdown-item">All Glassware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=extras" class="dropdown-item">Extras</a>
                <a href="{% url 'products' %}?category=books" class="dropdown-item">Books</a>
                <a href="{% url 'products' %}?category=extras,books" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="decor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Décor
            </a>
            <div class="dropdown-menu" aria-labelledby="decor-link">
                <a href="{% url 'products' %}?category=lighting" class="dropdown-item">Lighting</a>
                <a href="{% url 'products' %}?category=decorations" class="dropdown-item">Decorations</a>
                <a href="{% url 'products' %}?category=lighting,decorations" class="dropdown-item">All Décor</a>
            </div>
        </li>
        <li class="nav-item d-block d-lg-none">
            <!-- search bar form -->
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100 search-bar-collapse">
                    <!-- search bar -->
                    <input class="form-control" type="text" name="q" placeholder="Search for products...">
                    <div class="input-group-append">
                        <!-- search submit button -->
                        <button class="form-control btn" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
