<div class="collapse navbar-collapse w-100" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a href="{% url 'home' %}" class="nav-link mr-3">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link mr-3">
                All Products
            </a>

        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="barware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Barware
            </a>
            <div class="dropdown-menu" aria-labelledby="barware-link">
                <a href="" class="dropdown-item">Shakers</a>
                <a href="" class="dropdown-item">Tools</a>
                <a href="" class="dropdown-item">Bar Sets</a>
                <a href="s" class="dropdown-item">All Barware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="glassware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Glassware
            </a>
            <div class="dropdown-menu" aria-labelledby="glassware-link">
                <a href="" class="dropdown-item">Cocktails</a>
                <a href="" class="dropdown-item">Novelty</a>
                <a href="" class="dropdown-item">Serving</a>
                <a href="" class="dropdown-item">All Glassware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Extras</a>
                <a href="" class="dropdown-item">Books</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link mr-3" id="decor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Décor
            </a>
            <div class="dropdown-menu" aria-labelledby="decor-link">
                <a href="" class="dropdown-item">Lighting</a>
                <a href="" class="dropdown-item">Decorations</a>
                <a href="" class="dropdown-item">All Décor</a>
            </div>
        </li>
        <li class="nav-item d-block d-md-none">
            <!-- search bar form -->
            <form method="GET" action="">
                <div class="input-group w-100">
                    <!-- search bar -->
                    <input class="form-control" type="text" name="q" placeholder="Search">
                    <div class="input-group-append">
                        <!-- search submit button -->
                        <button class="form-control btn" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
