{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row blog-details">
            <div class="row return-link">
                <!-- returns user to all Blog Posts -->
                <a href="{% url 'blogs' %}" class="btn blog-btn">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span> All Blog Posts</span>
                </a>
            </div>

            <h3 class="text-center">{{ blog.title }}</h3>
            <small class="text-center pb-2">
                Written By {{ blog.author }} | {{ blog.created_at}} <br>
                Last Updated: {{ blog.updated_at }}
            </small>
            <!-- only allow superuser to have the option to Edit and Delete blogs -->
            {% if request.user.is_superuser %}
                <small class="text-center pb-2">
                    <a href="{% url 'edit_blog' blog.id %}" class="pe-2 text-success">
                        <i class="far fa-edit"></i> Edit
                    </a>
                    <a href="{% url 'delete_blog' blog.id %}" class="text-danger">
                        <i class="far fa-trash-alt"></i> Delete
                    </a>
                </small>
            {% endif %}
            <div class="col-12">
                <div class="img-container pb-2 mx-md-4">
                    {% if blog.image %}
                        <a href="{{ blog.image_url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                        </a>
                        {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}1.png" alt="{{ blog.title }}">
                            </a>
                    {% endif %}
                </div>
            </div>

            <div class="col-12">
                <div class="blog-post">
                    <p class="text-center py-4">
                        {{ blog.body_text }}
                    </p>
                </div>
            </div>
        </div>

        {% if request.user.is_authenticated %}
            {% for comment in blog.comments.all %}
                {{ comment.body }}
                {{ comment.user }}
                {{ comment.created_on }}
                {{ comment.post }}
            {% endfor %}
        {% else %}
                Create an Account or Sign in to read the blog comments!
        {% endif %}

        <h5>Leave a comment</h5>
        <form method="POST" class="form mb-2">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <div class="float-right my-2">
                <button class="btn checkout-btn" type="submit">Add Comment</button>
                <a class="btn blog-btn" href="#">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
