{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Boojie Bar {% block extra_title %}{% endblock %}</title>
    </head>
    
    <body>
        <header class="container-fluid fixed-top">
            <!-- TOP NAVIGATION BAR -->
            <div id="topnav" class="row">
                <div class="col search-bar pt-4">
                    <!-- search bar form -->
                    <form method="GET" action="">
                        <div class="input-group w-100">
                            <!-- search bar -->
                            <input class="form-control" type="text" name="q" placeholder="Search">
                            <div class="input-group-append">
                                <!-- search submit button -->
                                <button class="form-control btn" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col text-center">
                    <!-- site logo link for home page -->
                    <a href="{% url 'home' %}" class="nav-link nav-logo">
                        <img src="media/site-logo.png" id="logo" alt="Boojie Bar Logo">
                    </a>
                </div>
  
                <div class="col nav-icons pt-4">
                    <ul class="list-inline list-unstyled text-center mb-0">
                        <!-- account user options -->
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="mb-0">
                                        My Account
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                <!-- registered users link options -->
                                {% if request.user.is_authenticated %}
                                    <!-- admin link options -->
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Manage Products</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Account</a>
                                    <a href="" class="dropdown-item">Sign Out</a>
                                <!-- unregistered users link options -->
                                {% else %}
                                    <a href="" class="dropdown-item">Sign Up</a>
                                    <a href="" class="dropdown-item">Sign In</a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- shopping bag link -->
                        <li class="list-inline-item">
                            <a class="nav-link" href="">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="mb-0">
                                        €0.00
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End of TOP NAVIGATION BAR -->    
        </header>

        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <!-- FOOTER -->
        <footer class="footer-section container-fluid fixed-bottom">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <a href="">Home</a> <br>
                    <a href="">About Us</a> <br>
                    <a href="">Shop</a>
                </div>
                <!-- social media platform links -->
                <div class="col-sm-12 col-lg-4">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                    <a href="https://pinterest.com" target="_blank">
                        <i class="fab fa-pinterest" aria-hidden="true"></i>
                        <span class="sr-only">Pinterest</span>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <p>Contact Info</p>
                </div>
            </div>

            <div class="row">
                <!-- copyright info -->
                <div class="col footer-copyright">
                    &copy; Copyright 2021 Boojie Bar
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock %}
    </body>
</html>