{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <h2>
                    Products
                </h2>
                {% for c in current_categories %}
                    <a class="category-link" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="btn">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col products-container p-4">
                <div class="row">
                    <div class="col">
                        <div>
                            <select id="sort-select">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p>
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span><a href="{% url 'products' %}">All Products</a> | </span>
                            {% endif %}
                            {{ products|length }} Product(s){% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>

                <div class="row product-card-panels">
                    {% for product in products %}
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <div class="card h-100">
                                {% if product.image %}
                                    <a href="{% url 'product_details' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                        <a href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/media/no-image.png" alt="{{ product.name }}">
                                        </a>
                                {% endif %}

                                <div class="card-body pb-0">
                                    <a href="{% url 'product_details' product.id %}">
                                        <p>{{ product.name }}</p>
                                    </a>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-1"><strong>€{{ product.price }}</strong></p>

                                            {% if product.category %}
                                                <small>
                                                    <a href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                                                    </a>
                                                </small> <br>
                                            {% endif %}

                                            {% if product.rating %}
                                                <small> 
                                                    <i class="far fa-star"></i> {{ product.rating }} / 5
                                                </small>
                                            {% else %}
                                                <small>
                                                    <i class="far fa-star"></i> No Rating
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>

    <div class="top-btn btn">
        <a class="top-link">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.top-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

    <script type="text/javascript">
        $('#sort-select').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset"){
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}